# Operating System Files
.DS_Store
Thumbs.db

# Node (if using any frontend tooling)
node_modules/

# PHP Sensitive/Temporary Files
config.php
*.log
logs/
.env

vendor/

# Temporary/Cache Files
tmp/
cache/

# IDE and Editor Directories/Files
.vscode/
.idea/

# System Swap Files
*.swp